$color6: rgb(244, 224, 112);
$color5: rgb(241, 200, 146);
$color4: rgb(239, 126, 126);
$color3: rgb(241, 146, 188);
$color2: rgb(206, 146, 241);
$color1es: rgb(146, 164, 241);
$color1spe: rgb(146, 217, 241);
$colorTspe: rgb(170, 249, 173);
$colorTes: rgb(200, 241, 146);
