* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin flexbox_center {
  display: flex;
  justify-content: center;
  align-items: center;
}  

li {
    list-style-type: none;
  }
 a {
  text-decoration: none;
  color: black;
 }